<!DOCTYPE html>
<html>
<head>

<script src="/javascripts/jquery/jquery-3.4.1.js"></script>
<script lang="javascript" src="/javascripts/FileSaver.min.js"></script>
<script lang="javascript" src="/javascripts/xlsx.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

 
<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
 <a href="/authfb/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>

</body>
</html>
