<!DOCTYPE html>
<html>
<head>
    <script src="/javascripts/jquery/jquery-3.4.1.js"></script>
    <script lang="javascript" src="/javascripts/FileSaver.min.js"></script>
    <script lang="javascript" src="/javascripts/xlsx.full.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
		<input type="number" id="aa" value="1">
		
		<script>
			$(document).ready(function(){
				console.log($('#aa').val());
			var a =$('#aa').val();
			$('#a').html(a*1+1);
			})
			
		</script>
		<div id="a"></div>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
		<a href="/authfb/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
		<input id="btn" type="button" value="button">
		<script>
			
			var now = new Date();
			// .getFullYear() + "-" + (new Date().getMonth() +1) + "-" + 
			// new Date().getDate() + " " + new Date().getHours() + ":" + new Date().getMinutes() + ":" + "2";
			// alert(now);
	
			$('#btn').click(function(){
				$.post('/time', {date:now}).then(result=>{console.log(result)})
			})
			
		</script>
		<script>
			$.post('/test',{username:"nguyena@gmail.com"}).then(user=>{
				console.log(user);
			})
		</script>
</body>

</html>